# 注释
# 忽略 .env文件
# 如果是test/.env也会忽略掉 无论多少层嵌套
.env

*.mp4

#  *为通配符 --> *.html 就是忽略所有.html文件跟踪(之前提交过的html还是会跟踪的)
*.html

# 因为之前忽略.html文件的跟踪 如果想跟踪test/test2.html 则需要用 --> !
!test/test2.html

# 忽略整个目录 如忽略test2整个目录 最后一定要加上/  如：test2/ 就会忽略test2文件下的所有文件跟踪
test2/

# 忽略test2目录里面所有.pdf文件 无论嵌套多深
test2/**/*.pdf

# 图片也一样
test2/**/*.jpg